<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Jamstack.py</title>
		{% include 'sections/head.html' %}
	</head>
	<body>
		<div class="container grid-md" style="margin-bottom: 50px;">
			<div class="columns">
				<div class="column col-xs-12">
					<header class="navbar">
						<section class="navbar-section">
							<a href="#jamstackpy" class="navbar-brand mr-2">JamstackPy</a>
							<a href="#templates" class="btn btn-link">Templates</a>
							<a href="#users" class="btn btn-link">Users</a>
						</section>
					</header>
				</div>
			</div>
			<br>
			<div class="columns" style="margin-bottom: 20px;">
				<div class="column col-xs-12" align="center">
					<h1 class="jamheader">Jamstack.py</h1>
					<h2 id="jamdesc">
					An <u>extensible</u> static site generator made in <u>Python</u>
					</h2>
					<p id="jambtns">
						<a class="btn btn-primary btn-lg mr-2" href="https://github.com/jamstackpy/jamstack/releases/latest" target="_blank">Download</a>
						<a class="btn btn-primary btn-lg" href="https://github.com/jamstackpy/jamstack" target="_blank">GitHub</a>
					</p>
					<p class="text-gray">Latest version: <span class="version">1.0.0</span></p>
				</div>
			</div>
			<div class="columns features">
				<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
					<div class="card card-1 text-center">
						<div class="card-header"><span class="card-title">Extensible</span></div>
						<div class="card-body">Create your own modules and generate complex sites.</div>
					</div>
				</div>
				<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
					<div class="card card-2 text-center">
						<div class="card-header"><span class="card-title">Customizable</span></div>
						<div class="card-body">You can customise, contribute or create your own templates.</div>
					</div>
				</div>
				<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
					<div class="card card-3 text-center">
						<div class="card-header"><span class="card-title">Fast</span></div>
						<div class="card-body">Just <code>python static.py</code> and Builded!</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section section-about text-light text-center" style="margin-bottom: 20px">
			<div class="container grid-lg">
				<h2 id="jamstackpy">Introduction</h2>
				<div class="columns">
					<div class="column col-10 col-sm-12 col-mx-auto text-left">
						<p class="text-secondary"><strong>Jamstackpy </strong>allows you to generate static websites using all the power of Flask, so you can modify the files as much as you like to achieve different results and create fantastic sites.</p>
					</div>
					<div class="column col-10 col-sm-12 col-mx-auto"><a class="btn btn-lg" href="https://github.com/jamstackpy/jamstack#installation" style="border:none;">Install Jamstackpy</a></div>
				</div>
			</div>
		</div>
		<div class="container grid-md" style="margin-bottom: 50px;">
			<div class="columns">
				<div class="column col-xs-12">
					<h1 align="center" class="jamheader" id="templates">Templates</h1>
					<p class="parrafo">Jamstackpy has default templates such as <b>Massively</b> and <b>Phantom</b>, both courtesy of <b>HTML5UP</b>, however as well as being able to customise these, you can create your own templates, and even include them in the templates supported by Jamstackpy.</p>
					<p class="parrafo">To find out how to contribute a template please see <a href="https://github.com/jamstackpy/jamstack/wiki/Contribute-a-template">this article</a> from the official wiki.</p>
				</div>
			</div>
		</div>
		<div class="container grid-md" style="margin-bottom: 30px;">
			<h1 align="center" class="jamheader" id="users">They trust in Jamstackpy</h1>
			<div class="columns">
				<div class="columns users features">
					<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
						<div class="card">
							<div class="card-header">
								<div class="card-title h5">DeliciousPy Telegram Channel</div>
								<!--<div class="card-subtitle text-gray">Some desc</div>-->
							</div>
							<div class="card-body">
								<a href="https://deliciouspy.github.io/" target="_blank">See</a>
							</div>
						</div>
					</div>
					<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
						<div class="card">
							<div class="card-header">
								<div class="card-title h5">The Flask Community Work Group</div>
							</div>
							<div class="card-body">
								<a href="https://flaskcwg.github.io/" target="_blank">See</a>
							</div>
						</div>
					</div>
					<div class="column col-4 col-xs-12 col-sm-6 col-md-6">
						<div class="card">
							<div class="card-header">
								<div class="card-title h5">A Personal Site</div>
							</div>
							<div class="card-body">
								<a href="https://compileralchemy.github.io/" target="_blank">See</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include 'sections/footer.html' %}
	</body>
</html>
